	<h2 class="form-signin-heading">Tell Us About Your Self</h2>
	<%= f.text_field :first_name, :class => "input-block-level", :placeholder =>  "First Name"%>
	<br>
	<%= f.text_field :last_name, :class => "input-block-level", :placeholder => "Last Name" %>
	<br>
	<%= f.text_field :company_name, :class => "input-block-level", :placeholder => "Comapany Name" %>
	<br>
	<%= f.text_field :zip_code, :class => "input-block-level", :placeholder => "Zip Code" %>