<div class="form-signin">
	<h3>Congrats</h3>
	You're all done. Now get ready for us to do all the work and find you what you are looking for.
	<div class=""> 
		<%= link_to "View Your Profile", profile_user_path(@user), :class => "btn btn-block  btn-large btn-primary"%>
	</div>
</div>


